* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .wrapper {
    padding: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .MenuLateral {
    width: 137px;
    height: 100%;
    background: #303030;
    border: 1px solid #303030;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .menutop {
    display: flex;
    align-items: center;
    width: calc(100% - 137px);
    height: 65px;
    background: gray;
    position: absolute;
    top: 0;
    left: 137px;
  }
  
  .page {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 137px;
    right: 0;
  }
  
  .fundo {
    width: 100%;
  }
  
  /* elementos da pagina*/
  
  .pesquisa {
    position: relative;
    width: 319px;
    height: 30px;
    left: 2.04%;
    border: 0;
    border-radius: 16.957px;
    background: #d9d9d9;
    z-index: 1;
  }
  
  .lupa {
    z-index: 2;
  }
  
  /* Estilos para telas menores ou iguais a 1080x2400 */
  @media (max-width: 1080px) and (max-height: 2400px) {
 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      
      .wrapper {
        padding: 50vh;
        position: relative;
        overflow: hidden;
      }
      
      .MenuLateral {
        width: 137px;
        height: 100%;
        background: #303030;
        border: 1px solid #303030;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .menutop {
        display: flex;
        align-items: center;
        width: calc(100% - 137px);
        height: 65px;
        background: gray;
        position: absolute;
        top: 0;
        left: 137px;
      }
      
      .page {
        position: absolute;
        top: 65px;
        bottom: 0;
        left: 137px;
        right: 0;
      }
      
      .fundo {
        width: 100%;
      }
      
      /* elementos da pagina*/
      
      .pesquisa {
        position: relative;
        width: 319px;
        height: 30px;
        left: 2.04%;
        border: 0;
        border-radius: 16.957px;
        background: #d9d9d9;
        z-index: 1;
      }
      
      .lupa {
        z-index: 2;
      }
   
  }