* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.wrapper {
    padding: 100%;
    position: relative;
    overflow: hidden;
}

.MenuLateral {
    width: 137px;
    height: 100%;
    background: #303030;
    border: 1px solid #303030;
    position: absolute;
    top: 0;
    left: 0;
}

.menutop {
    display: flex;
    align-items: center;
    width: calc(100% - 137px); 
    height: 65px;
    background: gray;
    position: absolute;
    top: 0;
    left: 137px;
}

.page {
    background-image: url("/svg/semfundo\ 1logo.svg");
    background-size: cover; /* Ajustar o tamanho da imagem */
    background-repeat: no-repeat; /* Evitar repetição da imagem */
    background-position: center center; /* Centralizar a imagem */
    position: absolute;
    top: 65px; /* Deixar espaço para o menutop */
    bottom: 0;
    left: 137px; /* Deixar espaço para o MenuLateral */
    right: 0;
}

